<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <p><b>Sua nova senha de acesso é:</b>
      <%= @password%>
    </p>
  </body>
</html>
